<section id="contact" class="contact-section">
    <div>
        <form>
            <div>
                <label></label>
                <input placeholder="Your name here" type="text"/>
            </div>
            <div>
                <label></label>
                <input placeholder="Your email here" type="email"/>
            </div>
            <div>
                <label></label>
                <textarea placeholder="Your message...">
            </div>
          
        </form>
    </div>
</section>